<div class="col-md-{$width|default=6}">
    <div class="box block-bordered">
        <div class="box-header with-border">
            <h3 class="box-title">产品说明</h3>
        </div>
        <div class="box-body">
            <table class="table table-bordered table-striped table-hover">
                <tbody>
                <tr>
                    <td>产品名称</td>
                    <td>ZBPHP 开源框架</td>
                </tr>
                <tr>
                    <td>产品设计</td>
                    <td>似水星辰</td>
                </tr>
                <tr>
                    <td>官方网址</td>
                    <td>http:://www.benbenwangluo.com</td>
                </tr>
                <tr>
                    <td>官方QQ群</td>
                    <td>
                        暂无
                    </td>
                </tr>
                <tr>
                    <td>BUG反馈</td>
                    <td>暂无</td>
                </tr>
                <tr>
                    <td>开发手册</td>
                    <td><a href="https://www.kancloud.cn/m22543/lwwanphp/708350" target="_blank">ZBPHP开发手册</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>