{extend name="layout" /}
{block name="content"}
<div class="row">
	<div class="col-md-12">
		{notempty name="page_tips"}
		<div class="callout callout-info">
			{$page_tips|raw}
		</div>
		{/notempty}
		<div class="box nav-tabs-custom" {notempty name="tab_nav"} style="border-top:0"{/notempty}> 
			{notempty name="tab_nav"}
			<ul class="nav nav-tabs">
				{volist name="tab_nav['tab_list']" id="tab"}
				<li {eq name="tab_nav.active" value="$key"}class="active"{/eq}> <a href="{$tab.url}">{$tab.title|htmlspecialchars}</a> </li>
				{/volist}
			</ul>
			{else /}
			<div class="box-header with-border">
                <h3 class="box-title">{$page_title|default=""|htmlspecialchars}</h3>
            </div>
			{/notempty}
			<div class="box-body">
				<div class="tab-pane active">
					<div class="pb10">
						<div class="pull-left">
							{if (!empty($top_button))}
								{volist name="top_button" id="button"}
									{$button|raw}
								{/volist}
							{/if}
						</div>
						{// 搜索框 }
                                {notempty name="search"}
                                <div class="pull-right search-bar">
                                    <input type="hidden" name="search_field" id="search-field" value="{php}echo input('param.search_field', '') == '' ? $search['field_all'] : input('param.search_field');{/php}">
                                    <div class="input-group">
                                        <div class="input-group-btn">
                                            <button class="btn btn-default" id="search-btn" data-toggle="dropdown" type="button" aria-expanded="false">
                                                不限 <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <a tabindex="-1" href="javascript:void(0)" data-field="{$search.field_all}">不限</a>
                                                </li>
                                                {volist name="search.fields" id="field"}
                                                <li>
                                                    <a tabindex="-1" href="javascript:void(0)" data-field="{$key}">{$field|htmlspecialchars}</a>
                                                </li>
                                                {/volist}
                                            </ul>
                                        </div>
                                        <div {$search_button ?= 'class="input-group"'}>
                                            <input type="text" style="border:1px #ccc solid;padding-left:5px;" class="form-control" value="{:input('param.keyword', '')}" data-url="{$search.url}" id="search-input" name="keyword" placeholder="{$search.placeholder}">
                                            {$search_button ?= '<span class="input-group-btn"><button class="btn btn-default" id="search-submit-btn" type="button">'.($search_button === true ? "搜索" : $search_button).'</button></span>'}
                                        </div>

                                    </div>
                                </div>
                                {/notempty}
								<div class="clearfix"></div>
					</div>
					<table class="table table-builder table-hover table-bordered table-striped mb10">
						<thead>
						{if (!$hide_checkbox)}
							<th class="text-center" style="width: 70px;">
								<input class="minimal-red checkboxCtrl" data-group="ids[]" data-toggle="icheck" type="checkbox">
							</th>
							{/if}
							{volist name="fields" id="field"}
							<th class="{$field['class']|default=''}">{$field.title}</th>
							{/volist}
						</thead>
						<tbody>
						{volist name="row_list" id="row"}
						<tr> 
							{if (!$hide_checkbox)}
							<td class="text-center" style="width: 70px;"><input class="ids minimal-red" data-toggle="icheck" type="checkbox" name="ids[]" value="{$row['checkid']|default=''}"></td>
							{/if}
							
							{volist name="fields" id="column"}
							<td class="{$column['class']|default=''}"> {php}if(is_array($column['type']) || $column['type'] == '' || $column['type'] == 'btn' || $column['type'] == 'text'):{/php}
								{$row[$column['name']]|raw}
								{php}else:{/php}
								{$row[$column['name'].'__'.$column['type']]|raw}
								{php}endif;{/php} 
							</td>
							{/volist} 
						</tr>
						{/volist}

						{empty name="row_list"}
							<tr class="table-empty"> {php}$colspan = count($fields)+1{/php}
								<td class="text-center empty-info" colspan="{$colspan}"><i class="fa fa-database"></i> 抱歉，没有更多了 <br></td>
							</tr>
						{/empty}
						</tbody>
					</table>
					<div class="data-table-toolbar">
						<div class="row">
							<div class="col-sm-12"> {// 分页 }
								{notempty name="pages"}
								{$pages|raw}
								{/notempty}
								{notempty name="page_info"}
								<div class="pagination-info pull-left"> 第 {:input('param.page', '1')} 页 / 总计 {$page_info->lastPage()} 页，共 <strong>{$page_info->total()}</strong> 条数据 </div>
								{/notempty} 
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{/block}