<div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12" id="form_group_{$form.name}">
    <label class="col-xs-12" for="{$form.name}">{$form.title}</label>
    <div class="col-sm-12">
        <select class="js-select2 form-control select-linkage" name="{$form.name}" id="{$form.name}" data-allow-clear="true" data-placeholder="请选择一项" data-url="{$form.ajax_url|default=''}" data-param="{$form.param|default=$form.name}" data-next-items="{$form.next_items}" {$form.attr|default=''}>
            {volist name="form.extra" id="extra"}
                <option value="{$key}" {if ($form.value == (string)$key)}selected{/if}>{$extra}</option>
            {/volist}
        </select>
        {notempty name="form.tips"}
        <div class="help-block">{$form.tips|raw}</div>
        {/notempty}
    </div>
</div>