<div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12" id="form_group_{$form.name}">
    <div class="col-xs-12 label-title" for="{$form.name}">{$form.title|htmlspecialchars}</div>
    <div class="col-xs-12">
        <textarea class="form-control" id="{$form.name}" rows="7" name="{$form.name}" placeholder="{$form.placeholder|default='请输入'.$form.title}" {$form.attr|default=''|raw}>{$form.value|default=''|raw}</textarea>
        {notempty name="form.tips"}
        <div class="help-block">{$form.tips|raw}</div>
        {/notempty}
    </div>
</div>