<div class="col-md-{$width|default=6}">
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">系统信息</h3>
        </div>
        <div class="box-body">
            <table class="table table-bordered table-striped table-hover">
                <tbody>
                <tr>
                    <td>系统版本</td>
                    <td>{:config('zbphp.version')}</td>
                </tr>
                <tr>
                    <td>ThinkPHP版本</td>
                    <td>{$Think.VERSION}</td>
                </tr>
                <tr>
                    <td>服务器操作系统</td>
                    <td>{$Think.const.PHP_OS}</td>
                </tr>
                <tr>
                    <td>MYSQL版本</td>
                    <td>{:db()->query('select version() as version')[0]['version']}</td>
                </tr>
                <tr>
                    <td>PHP版本</td>
                    <td>{$Think.const.PHP_VERSION}</td>
                </tr>
                <tr>
                    <td>上传限制</td>
                    <td>{:ini_get('upload_max_filesize')}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>